<?xml version="1.0"?>
<config>
    <modules>
        <GoCache_Maneger>
            <version>0.1.0</version>
        </GoCache_Maneger>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gocachemaneger after="Mage_Adminhtml">GoCache_Maneger</gocachemaneger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <GoCache_Maneger>
                            <title>GoCache_Maneger</title>
                            <sort_order>20</sort_order>
                        </GoCache_Maneger>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <maneger translate="title" module="maneger">
                                            <title>Maneger GoCache</title>
                                        </maneger>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <maneger>
                <class>GoCache_Maneger_Helper</class>
            </maneger>
        </helpers>
        <models>
            <maneger>
                <class>GoCache_Maneger_Model</class>
            </maneger>
        </models>
        <blocks>
                <maneger>
                    <class>GoCache_Maneger_Block</class>
                </maneger>
        </blocks>
        <events>
                <catalog_product_save_after>
                    <observers>
                        <maneger_product_observer>
                            <type>singleton</type>
                            <class>maneger/observer</class>
                            <method>ClearCDNProductUrl</method>
                        </maneger_product_observer>
                    </observers>
                </catalog_product_save_after>
                <catalog_category_save_commit_after>
                    <observers>
                        <maneger_category_observer>
                            <type>singleton</type>
                            <class>maneger/observer</class>
                            <method>ClearCDNCategoryUrl</method>
                        </maneger_category_observer>
                    </observers>
                </catalog_category_save_commit_after>
                <admin_system_config_changed_section_maneger>
                    <observers>
                        <mymodule>
                            <type>singleton</type>
                            <class>maneger/observer</class>
                            <method>GenerateToken</method>
                        </mymodule>
                    </observers>
                </admin_system_config_changed_section_maneger>
        </events>
    </global>
    <default>
        <maneger>
            <config>
               <validemodule>0</validemodule>
            </config>
        </maneger>
    </default>
</config>
